@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0015;
  color: #fff;
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}
